/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #88398a;
$h1-color: white !important;
$h2-color: white !important;
$h3-color: white !important;
$primary: #2c2c2c;

// Code blocks
$code-block-bg-alpha: -.8;